:root{
    --nav-font: 1.2rem;
    --header-font: 52px;
    --text-para: 1.3rem;
    --text-color: rgba(255, 255, 255, 0.5);
    --sign-up-btn: linear-gradient(to right, rgba(13, 226, 214, 0.7), rgba(239, 41, 219, 0.7));
    --purple-btn: rgba(118, 99, 231, 1);
    --download-background:  linear-gradient(169.15deg, rgba(255, 255, 255, 0.4) 0%, rgba(238, 237, 237, 0.2) 96.79%);
    --backgroundColor: rgba(8, 16, 41, 1);
    --primary-gradient:  linear-gradient(to right, #AB00FB, #FF0063, #FF0000);

  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .about{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 8rem;
  }

  .about-container{
    display: flex;
    width: 100%;
    gap: 3rem;
    min-height: 90vh;
    
  }
  .about-text{
    font-size: var(--header-font);
    color: var(--text-color);
    text-align: center;
    
  }

  .image01 {
    opacity: 0; 
    transform: translateX(-100%); 
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .image01.slidein {
    opacity: 1;
    transform: translateX(0); 
  }
  
  .image02 {
    opacity: 0;
    transform: translateY(-60%); 
    transition: transform 1s ease-out, opacity 1s ease-out;
  }
  
  .image02.fade-in {
    opacity: 1; 
    transform: translateY(0); 
  }

  .line{
    width: 8rem;
    height: 8px;
    background: var(--primary-gradient);
    margin: 0 auto;
    margin-bottom: 3rem;
  }
  .about-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  .welcome-text{
    font-size: 3rem;
    color: var(--text-color);
    text-align: center;
    width: 100%;
  }

  .welcome-para{
    font-size: var(--text-para);
    color: var(--text-color);
  }


  @media (max-width: 768px) {
    .about {
      gap: 1.5rem;
      padding: 1.5rem;
    }
  
    .about-container {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      padding-top: 0;
      text-align: center; 
    }
  
    .about-left {
      width: 100%;
    }
  
    .about-left img, .about-right img {
      width: 90%; 
      max-width: 400px; 
      height: auto;
      margin: 1rem auto;
    }
  
    .about-text {
      font-size: calc(var(--header-font) / 1.6);
      text-align: center;
    }
  
    .welcome-text {
      font-size: 1.7rem; 
      width: 100%;
    }
  
    .welcome-para {
      font-size: calc(var(--text-para) / 1.6); 
      line-height: 1.6; 
    }
  
    .line {
      width: 5rem; 
      height: 6px;
      margin: 0 auto; 
    }

    .about-right{
      display: none;
    }
  }
  
  