:root{
  --nav-font: 38px;
  --header-font: 77px;
  --text-para: 2rem;
  --text-color: rgba(255, 255, 255, 1);
  --sign-up-btn: linear-gradient(to right, rgba(13, 226, 214, 0.3), rgba(239, 41, 219, 0.3));
  --purple-btn: rgba(118, 99, 231, 1);
  --download-background:  linear-gradient(169.15deg, rgba(255, 255, 255, 0.4) 0%, rgba(238, 237, 237, 0.2) 96.79%);
  --backgroundColor: rgba(8, 16, 41, 1);
}

.App{
  background-color: var(--backgroundColor);
}